{% extends 'layout.html.twig' %}
{% block title %}Rezultat{% endblock %}
{% block card_header %}Rezultat{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Dane wejściowe</th>
                    <th scope="col">Dane wyjściowe</th>
                </tr>
                </thead>
                <tbody>
                {% for result in results %}
                <tr>
                    <td>{{ result.input }}</td>
                    <td>{{ result.output }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div clas="col-12">
            <a href="{{ path('app_largestnumber_find') }}" class="btn btn-primary">Wyszukaj ponownie</a>
        </div>
    </div>
{% endblock %}